doctype html
/[if IE 8]
  | <html class="no-js lt-ie9">
/[if IE 9]
  | <html class="ie9">
html.no-js
  /! <![endif]

  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    title Bootstrap Playground
    link rel="stylesheet" href="css/app.css" media="screen"
  body data-template="home"

    h1 G's Bootstrap Playground

    script src="http://code.jquery.com/jquery.js"
    script src="js/bootstrap.js"
    script src="js/respond.min.js"